[Desktop Entry]
Categories=Qt;KDE
Comment=
Exec=kairo %U
GenericName=Sport Coach
GenericName[ca]=Entrenador esportiu
GenericName[ca@valencia]=Entrenador esportiu
GenericName[es]=Entrenador deportivo
GenericName[fr]=Accompagnateur sportif
GenericName[nl]=Sportcoach
GenericName[nn]=Idrettstrenar
GenericName[pt]=Treinador Desportivo
GenericName[sl]=Športni trener
GenericName[sv]=Sporttränare
GenericName[uk]=Спортивний тренер
GenericName[x-test]=xxSport Coachxx
Icon=kairo
Name=Kairo
Name[ca]=Kairo
Name[ca@valencia]=Kairo
Name[es]=Kairo
Name[fr]=Kairo
Name[nl]=Kairo
Name[nn]=Kairo
Name[pt]=Kairo
Name[sl]=Kairo
Name[sv]=Kairo
Name[uk]=Kairo
Name[x-test]=xxKairoxx
StartupNotify=false
Terminal=false
Type=Application
