[Desktop Entry]
Categories=Qt;KDE
Comment=
Exec=kairo %U
GenericName=Sport Coach
GenericName[ca]=Entrenador esportiu
GenericName[ca@valencia]=Entrenador esportiu
GenericName[cs]=Sportovní kouč
GenericName[de]=Sporttrainer
GenericName[en_GB]=Sport Coach
GenericName[es]=Entrenador deportivo
GenericName[eu]=Kirol-entrenatzailea
GenericName[fr]=Accompagnateur sportif
GenericName[hi]=खेल प्रशिक्षक
GenericName[it]=Preparatore sportivo
GenericName[ko]=스포츠 코치
GenericName[nl]=Sportcoach
GenericName[nn]=Idrettstrenar
GenericName[pl]=Sportowy trener
GenericName[pt]=Treinador Desportivo
GenericName[pt_BR]=Treinador esportivo
GenericName[sk]=Sportový tréner
GenericName[sl]=Športni trener
GenericName[sv]=Sporttränare
GenericName[tr]=Spor Koçu
GenericName[uk]=Спортивний тренер
GenericName[x-test]=xxSport Coachxx
Icon=kairo
Name=Kairo
Name[ca]=Kairo
Name[ca@valencia]=Kairo
Name[cs]=Kairo
Name[de]=Kairo
Name[en_GB]=Kairo
Name[es]=Kairo
Name[eu]=Kairo
Name[fr]=Kairo
Name[hi]=काएरो
Name[it]=Kairo
Name[ko]=Kairo
Name[nl]=Kairo
Name[nn]=Kairo
Name[pl]=Kairo
Name[pt]=Kairo
Name[pt_BR]=Kairo
Name[sk]=Kairo
Name[sl]=Kairo
Name[sv]=Kairo
Name[tr]=Kairo
Name[uk]=Kairo
Name[x-test]=xxKairoxx
StartupNotify=false
Terminal=false
Type=Application
